.wrap {
    height: 100vh; 
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column; 
}
  

  .header {
    background-color: #1e1e1e;
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
  }
  
  .title {
    font-size: 1.5rem;
    color: #f1f1f1;
  }
  
  .users {
    font-size: 1rem;
    color: #b3b3b3;
  }
  
  .left {
    background-color: #ff4d4d;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .left:hover {
    background-color: #e60000;
  }
  
  /* Messages section */
  .messages {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    background-color: #181818; 
  }
  
  /* Form section */
  .form {
    display: flex;
    align-items: right;
    padding: 12px;
    background-color: #2a2a2a;
    border-top: 1px solid #333;
    font-size: 30px;
  }
  
  .input input {
    background-color: #3a3a3a;
    color: #e0e0e0;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 20px;
    flex-grow: 1;
    margin-right: 15px;
    font-size: 20px;
  }
  
  .input input:focus {
    outline: none;
    border-color: #5c5c5c;
  }
  
  .emoji {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .emoji img {
    width: 25px;
    height: 25px;
  }
  
  .emojies {
    position: absolute;
    bottom: 70px;
    left: 10px;
    background-color: #121212;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 10px;
  }
  
  .button input {
    background-color: #5c5c5c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .button input:hover {
    background-color: #4a4a4a;
  }
  
  .button input:focus {
    outline: none;
  }
  